# Microsoft Visual Studio files
.vs/

# Binary files
bin/
obj/

# Error files of GPPG
MyCompiler/config/*.lst

# Generated Lexer and Parser
MyCompiler/GeneratedParser/Lexer.cs
MyCompiler/GeneratedParser/Parser.cs

# Compiled test program
MyCompiler/*.exe

# CSharp packages' binary files
packages/